footer{
    background-color:$color-barras;
    height:10rem;
    width:100%;
    .Redes{ 
        text-align: center
    }
}



@media screen and (max-width: 768px){
    footer{
        .Redes{
            justify-content: center;
        }
    }
}

/*Error 404*/
.footer404{
    background: $black;
}

/*version mobil: Error 404*/
@media screen and (max-width: 768px){
    .footer404{
        padding-top:7rem;
    }
}