/*index*/
.FondoMainInicio{
    width: 100%;
    background-image: url(../assets/img/FondoVacaInicio.png);
    .galeriaIndex{
        margin-top:10rem;
        .seccionFotos{
            margin-bottom: 50px;
            text-align:center;
        }
    }
}

@media screen and (max-width: 1024px){
    .FondoMainInicio{
        width: 100%;
        background-image: url(../assets/img/FondoVacaInicio.png);
        .galeriaIndex{
            margin-top:10rem;
            .seccionFotos{
                margin-bottom: 50px;
                text-align:center;
                .indexFotos{
                    height: 25rem;
                    width: 25rem;
                    padding: 1rem;
                }
            }
        }
    }

}


@media screen and (max-width: 768px){
    /*Version mobil: main index*/
    .FondoMainInicio{
        background-size: contain;
        background-repeat: repeat;
        height:100%;
        .galeriaIndex{
            margin-top:2rem;
            .seccionFotos{
                .indexFotos{
                    height: 30rem;
                    width: 30rem;
                }
            }
        }
    } 
}

/*nosotros*/
.FondoMainNosotros{
    @extend .FondoMainInicio;
    background-image: url(../assets/img/FondoVacaNosotros.png);
    .TextoNosotros{
        margin-left:8.5rem;
        margin-top: 5rem;
        width: 55vw;
        h2{
            color: #39B4E9
        }
    }
    .seccionFotos{
        margin-bottom: 50px;
        text-align:center;
    }
    .ImagenesNosotros{
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .TextoNosotros2{
        margin-left:8.5rem;
        width: 85vw
    }
}

@media screen and (max-width: 1024px){
    .FondoMainNosotros{
        .TextoNosotros{
            margin-left:5rem;
            margin-top: 5rem;
            width: 55vw;
            h2{
                color: #39B4E9;
            }
            p{
                font-size: 1.3rem;
            }
            
        }
        .seccionFotos{
            margin-bottom: 50px;
            text-align:center;
            .indexFotos{
                height: 22rem;
                width: 22rem;
                padding: 1rem;
            }
        }
        .ImagenesNosotros{
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .TextoNosotros2{
            margin-left:5rem;
            width: 85vw;
            p{
                font-size: 1.3rem;
            }
        }
    }

}

@media screen and (max-width: 768px){
    /*Version mobil: main nosotros*/
    .FondoMainNosotros{
        background-size: contain;
        background-repeat: repeat;
        height:100%;
        .TextoNosotros{
            margin-left:1rem;
            width:95%
        }
        .seccionFotos{
            margin-bottom: 50px;
            text-align:center;
            .indexFotos{
                height: 30rem;
                width: 30rem;
            }
        }
        .TextoNosotros2{
            margin-left:1rem;
        }
    }
}

/*actividades*/
.FondoMainActividades{
    @extend .FondoMainInicio;
    background-image: url(../assets/img/FondoVacaActividades.png);
    .boxMapa{
        height:33vh;
        .mapaActividades{
            width:100%;
            height:98%;
            
        }
    }
    
}

@media screen and (max-width: 1024px){
    .FondoMainActividades{
        .mapaActividades{
            width:25rem;
            height:25rem;
        }
        .card-body{
            margin-left:2rem;
        }
    }
}

@media screen and (max-width: 768px){
    /*Version mobil: main actividades*/
    .FondoMainActividades{
        background-size: contain;
        background-repeat: repeat;
        height:100%;
        .mapaActividades{
            width:100%;
            .textoMobil{
                margin-left:-1rem;
                margin-bottom:2rem;
            }
        }
    }
}
    
/*galeria*/
.FondoMainGaleria{
    @extend .FondoMainInicio;
    background-image: url(../assets/img/FondoVacaGaleria.png);
}

@media screen and (max-width: 1024px){    
    .FondoMainGaleria{
        .indexFotos{
            height: 25rem;
            width: 25rem;
            padding: 1rem;
        }
    }
}  
@media screen and (max-width: 768px){
    /*Version mobil: main galeria*/
    .FondoMainGaleria{
        .indexFotos{
            height: 30rem;
            width: 30rem;
        }
        .margenMobil{
            margin-bottom:2rem;
        }
    }
}

/*contacto*/
.FondoMainContacto{
    width: 100%;
    background-image: url(../assets/img/FondoVacaContacto.png);
    background-size: cover;
    .margenTextoContacto{
        margin-top:10rem;
        margin-left:14vw;
        margin-bottom:2rem;
    }
    .margenTextoContacto2{
        margin-top: 6rem;
        margin-left:14.5vw;
        margin-right:20rem;
        margin-bottom:10rem;
    }
    .fotoContactoFormulario{
        width: 34vw;
    }
    .cajonFormulario{
        box-sizing: border-box;
        position: absolute;
        width: 30rem;
        height: 4rem;
        background: #D9D9D9;
        border: 0.634812px solid #000000;
        border-radius: 17.1399px;
    }
    .botonSubmit{
        position: absolute;
        width: 9rem;
        height: 4rem;
        background: #2F3437;
        border: 0.634812px solid #000000;
        border-radius: 13.1399px;
    }
    .cajonCheck{
        margin-top: 3.6rem;
    }
    
    .textoCheck{
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1024px){  
    .FondoMainContacto{
        .margenTextoContacto{
            margin-top:5rem;
            margin-left:5rem;
            margin-bottom:2rem;
            p{
                font-size:1.5rem;
            }
    
        }
        .margenTextoContacto2{
            margin-top:2rem;
            margin-left:5rem;
            margin-bottom:2rem;
            font-size:1.5rem;
        }
        .fotoContactoFormulario{
            width: 33rem;
        }
        .cajonFormulario{
            box-sizing: border-box;
            position: absolute;
            width: 30rem;
            height: 4rem;
            background: #D9D9D9;
            border: 0.634812px solid #000000;
            border-radius: 17.1399px;
        }
        .botonSubmit{
            position: absolute;
            width: 9rem;
            height: 4rem;
            background: #2F3437;
            border: 0.634812px solid #000000;
            border-radius: 13.1399px;
        }
        .cajonCheck{
            margin-top: 3.6rem;
        }
        
        .textoCheck{
            margin-top: 3rem;
        }
    }
}


    
@media screen and (max-width: 768px){
    /*Version mobil: main contacto*/
    .FondoMainContacto{
        .margenTextoContacto{
            margin-left:1rem;
            margin-top:2rem;
        }
        .margenTextoContacto2{
            margin-top:10rem;
            margin-bottom:4rem;
            margin-left:1rem;
            margin-right:1rem;
        }
        .fotoContactoFormulario{
            width:100%;
            margin-bottom:2rem;
        }
    }
}

/*Error 404*/
.main404{
    font-family: $font;
    color: $white;
}
.background{
    margin-top:12vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient($black, $blue);
    .ground{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15vh;
        background: $black;
    }
}
.container404{
    position: relative;
    margin: 0 auto;
    width: 85%;
    height: 81vh;
    margin-bottom:12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

//Left Section Styles
.left-section{
    width: 40%;
    padding-top:10rem;
}

.heading{
    text-align: center;
    font-size: 9em;
    line-height: 1.3em;
    margin: 2rem 0 0.5rem 15rem;
    padding: 0;
    text-shadow: 0 0 1rem #fefefe;
}
.subheading{
    text-align: center; 
    max-width: 480px;
    font-size: 1.5em;
    line-height: 1.15em;
    margin-left:15rem;
    padding: 0 1rem;
}

.boton{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:$color-blanco;
    padding:10px 35px;
    border-radius: 26.5px;
    text-decoration: none;
}

.boton2{
    margin-top:30px;
    margin-left:27rem;
    border: 1px solid white;
    
}
//Right Section Styles
.right-section{
    width: 50%;
    height: 90vh;
    .svgimg{
        height: 100%;
        bottom: 0;
        padding-top: 10vh;
        padding-left: 1vh;
        max-width: 100%;
        max-height: 100%;
        .bench-legs{
            fill: black;
        }
        .top-bench, .bottom-bench{
            stroke: $black ;
            stroke-width: 1px;
            fill: #5B3E2B;
        }
        .bottom-bench path:nth-child(1){
            fill: darken(#5B3E2B,7%);
        }
        .lamp-details{
            fill: $gray;
            margin-bottom: -10px;
        }
        .lamp-accent{
            fill: lighten($gray, 5%);
        }
        .lamp-bottom{
            fill: linear-gradient($gray, $black);
        }
        .lamp-light{
            fill: #EFEFEF;
        }
    }
}

/*Version mobil: Error 404*/
@media screen and (max-width: 768px){
    .main404{
        height:70vh;
        background: linear-gradient($black, $blue);
        .background{
            display:none;           
            .ground{
                display:none;
                }
        }
    }

    //Left Section Styles
    .left-section{
        width: 100%;

    }
    
    .heading{
        margin-left:1rem;

    }
    .subheading{
        margin-left:1rem;
    }
    
    .boton{
        margin-left:8rem;
          
    }
    
    .boton2{
        margin-top:20px;
        
        text-align: center;
        
    }
    //Right Section Styles
    .right-section{
        display:none;
    }
}