/*index*/
.FondoMainInicio{
    width: 100%;
    background-image: url(../assets/img/FondoVacaInicio.png);
    .galeriaIndex{
        margin-top:10rem;
        .seccionFotos{
            margin-bottom: 50px;
            text-align:center;
        }
    }
}

@media screen and (max-width: 1024px){
    .FondoMainInicio{
        width: 100%;
        background-image: url(../assets/img/FondoVacaInicio.png);
        .galeriaIndex{
            margin-top:10rem;
            .seccionFotos{
                margin-bottom: 50px;
                text-align:center;
                .indexFotos{
                    height: 25rem;
                    width: 25rem;
                    padding: 1rem;
                }
            }
        }
    }

}


@media screen and (max-width: 768px){
    /*Version mobil: main index*/
    .FondoMainInicio{
        background-size: contain;
        background-repeat: repeat;
        height:100%;
        .galeriaIndex{
            margin-top:2rem;
        }
    } 
}

/*nosotros*/
.FondoMainNosotros{
    @extend .FondoMainInicio;
    background-image: url(../assets/img/FondoVacaNosotros.png);
    .TextoNosotros{
        margin-left:8.5rem;
        margin-top: 5rem;
        width: 55vw;
        h2{
            color: #39B4E9
        }
    }
    .seccionFotos{
        margin-bottom: 50px;
        text-align:center;
    }
    .ImagenesNosotros{
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .TextoNosotros2{
        margin-left:8.5rem;
        width: 85vw
    }
}

@media screen and (max-width: 1024px){
    .FondoMainNosotros{
        @extend .FondoMainInicio;
        background-image: url(../assets/img/FondoVacaNosotros.png);
        .TextoNosotros{
            margin-left:5rem;
            margin-top: 5rem;
            width: 55vw;
            h2{
                color: #39B4E9;
            }
            p{
                font-size: 1.3rem;
            }
            
        }
        .seccionFotos{
            margin-bottom: 50px;
            text-align:center;
            .indexFotos{
                height: 22rem;
                width: 22rem;
                padding: 1rem;
            }
        }
        .ImagenesNosotros{
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .TextoNosotros2{
            margin-left:5rem;
            width: 85vw;
            p{
                font-size: 1.3rem;
            }
        }
    }

}

@media screen and (max-width: 768px){
    /*Version mobil: main nosotros*/
    .FondoMainNosotros{
        background-size: contain;
        background-repeat: repeat;
        height:100%;
        .TextoNosotros{
            margin-left:1rem;
            width:95%
        }
        .TextoNosotros2{
            margin-left:1rem;
        }
    }
}

/*actividades*/
.FondoMainActividades{
    @extend .FondoMainInicio;
    background-image: url(../assets/img/FondoVacaActividades.png);
    .mapaActividades{
        width:45rem;
        height:25rem;
    }
}

@media screen and (max-width: 1024px){
    .FondoMainActividades{
        @extend .FondoMainInicio;
        background-image: url(../assets/img/FondoVacaActividades.png);
        .mapaActividades{
            width:25rem;
            height:25rem;
        }
        .card-body{
            margin-left:2rem;
        }
    }
}

@media screen and (max-width: 768px){
    /*Version mobil: main actividades*/
    .FondoMainActividades{
        background-size: contain;
        background-repeat: repeat;
        height:100%;
        .mapaActividades{
            width:100%;
            .textoMobil{
                margin-left:-1rem;
                margin-bottom:2rem;
            }
        }
    }
}
    
/*galeria*/
.FondoMainGaleria{
    @extend .FondoMainInicio;
    background-image: url(../assets/img/FondoVacaGaleria.png);
}

@media screen and (max-width: 1024px){    
    .FondoMainGaleria{
        @extend .FondoMainInicio;
        background-image: url(../assets/img/FondoVacaGaleria.png);
        .indexFotos{
            height: 25rem;
            width: 25rem;
            padding: 1rem;
        }
    }
}  
@media screen and (max-width: 768px){
    /*Version mobil: main galeria*/
    .margenMobil{
        margin-bottom:2rem;
    }
}

/*contacto*/
.FondoMainContacto{
    width: 100%;
    background-image: url(../assets/img/FondoVacaContacto.png);
    background-size: cover;
    .margenTextoContacto{
        margin-top:10rem;
        margin-left:21rem;
        margin-bottom:2rem;
    }
    .margenTextoContacto2{
        margin-top: 6rem;
        margin-left:21rem;
        margin-right:20rem;
        margin-bottom:10rem;
    }
    .fotoContactoFormulario{
        width: 50rem;
    }
    .cajonFormulario{
        box-sizing: border-box;
        position: absolute;
        width: 30rem;
        height: 4rem;
        background: #D9D9D9;
        border: 0.634812px solid #000000;
        border-radius: 17.1399px;
    }
    .botonSubmit{
        position: absolute;
        width: 9rem;
        height: 4rem;
        background: #2F3437;
        border: 0.634812px solid #000000;
        border-radius: 13.1399px;
    }
    .cajonCheck{
        margin-top: 3.6rem;
    }
    
    .textoCheck{
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1024px){  
    .FondoMainContacto{
        .margenTextoContacto{
            margin-top:5rem;
            margin-left:5rem;
            margin-bottom:2rem;
            p{
                font-size:1.5rem;
            }
    
        }
        .margenTextoContacto2{
            margin-top:2rem;
            margin-left:5rem;
            margin-bottom:2rem;
            font-size:1.5rem;
        }
        .fotoContactoFormulario{
            width: 33rem;
        }
        .cajonFormulario{
            box-sizing: border-box;
            position: absolute;
            width: 30rem;
            height: 4rem;
            background: #D9D9D9;
            border: 0.634812px solid #000000;
            border-radius: 17.1399px;
        }
        .botonSubmit{
            position: absolute;
            width: 9rem;
            height: 4rem;
            background: #2F3437;
            border: 0.634812px solid #000000;
            border-radius: 13.1399px;
        }
        .cajonCheck{
            margin-top: 3.6rem;
        }
        
        .textoCheck{
            margin-top: 3rem;
        }
    }
}


    
@media screen and (max-width: 768px){
    /*Version mobil: main contacto*/
    .FondoMainContacto{
        .margenTextoContacto{
            margin-left:1rem;
            margin-top:2rem;
        }
        .margenTextoContacto2{
            margin-top:13rem;
            margin-left:1rem;
            margin-right:1rem;
        }
        .fotoContactoFormulario{
            width:100%;
            margin-bottom:2rem;
        }
    }
}