$color-barras:  #2F3437;
$color-blanco: white;
$ancho-banner: 100%;
$alto-banner: 69vh;

/*Variables404*/
$background_color: #353b48;
$font: "Fira Sans", sans-serif;
$white: #f5f6fa;
$black: #0C0E10;
$gray: #202425;
$blue: #446182;

/*maps*/
$distribucion-banner: (
    size: cover,
    position: center,
    repeat: no-repeat,
)
