@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
/*Variables404*/
/*maps*/
* {
  font-size: small;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 63px;
  line-height: auto;
}

p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.indexFotos {
  width: 30rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

/* 2D TRANSITIONS */
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  transform: scale(1.1);
}

/* Reveal */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098D1;
  border-style: solid;
  border-width: 0;
  border-radius: 13.1399px;
  transition-property: border-width;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  transform: translateY(0);
  border-width: 4px;
}

/* Reveal Index*/
.hvr-reveal-index {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-reveal-index:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0;
  border-radius: 26.5px;
  transition-property: border-width;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.hvr-reveal-index:hover:before, .hvr-reveal-index:focus:before, .hvr-reveal-index:active:before {
  transform: translateY(0);
  border-width: 4px;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ffffff;
  height: 2px;
  margin-bottom: 5px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/*index*/
.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(../assets/img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero .titulosindex {
  margin-top: 12rem;
}
.hero .titulosindex .MargenLogo {
  margin-left: 30px;
}
.hero .titulosindex .h1index {
  margin-top: 20vh;
  width: 50%;
  font-size: 7vh;
  color: white;
}
.hero .titulosindex .h2index {
  width: 40%;
  color: white;
  margin-top: 2vh;
}
.hero .titulosindex .boton {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin: 0px 10px;
  padding: 10px 35px;
  border-radius: 26.5px;
  text-decoration: none;
}
.hero .titulosindex .boton1 {
  background-color: #43A6D0;
  margin-top: 60px;
  margin-left: 75px;
}
.hero .titulosindex .boton2 {
  margin-top: 60px;
  border: 1px solid white;
}

@media screen and (max-width: 1024px) {
  .hero {
    height: 100vh;
  }
  .hero .titulosindex .h1index {
    margin-top: 20vh;
    width: 60%;
    color: white;
    font-size: 3rem;
  }
  .hero .titulosindex .h2index {
    width: 50%;
    color: white;
    margin-top: 2vh;
    margin-bottom: 5vh;
    font-size: 1.3rem;
  }
  .hero .titulosindex .boton {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    margin: 0px 10px;
    padding: 10px 35px;
    border-radius: 26.5px;
    text-decoration: none;
  }
  .hero .titulosindex .boton1 {
    background-color: #43A6D0;
    margin-bottom: 60px;
    margin-left: 75px;
  }
  .hero .titulosindex .boton2 {
    border: 1px solid white;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  /*Version mobil: index*/
  .hero .titulosindex .h1index {
    font-size: 3rem;
    width: 90vw;
    margin-top: 57vh;
  }
  .hero .titulosindex .h2index {
    display: none;
  }
  .hero .titulosindex .boton {
    display: none;
  }
}
/*nosotros*/
.fondoNosotrosTitulo, .fondoContactoTitulo, .fondoGaleriaTitulo, .fondoActividadesTitulo {
  height: 85vh;
  background-image: linear-gradient(rgba(78, 78, 78, 0.412) 100%, rgba(78, 78, 78, 0.412) 100%), url(../assets/img/puente\ de\ la\ mujer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .fondoNosotrosTitulo, .fondoContactoTitulo, .fondoGaleriaTitulo, .fondoActividadesTitulo {
    width: 100%;
    height: 40rem;
    background-image: linear-gradient(rgba(78, 78, 78, 0.412) 100%, rgba(78, 78, 78, 0.412) 100%), url(../assets/img/bannerNosotrosMobil.png);
  }
  .fondoNosotrosTitulo h1, .fondoContactoTitulo h1, .fondoGaleriaTitulo h1, .fondoActividadesTitulo h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  /*Version mobil: resto de paginas*/
  .fondoNosotrosTitulo .fuenteTitulo, .fondoContactoTitulo .fuenteTitulo, .fondoGaleriaTitulo .fuenteTitulo, .fondoActividadesTitulo .fuenteTitulo {
    font-size: 2.9rem;
  }
}
/*actividades*/
.fondoActividadesTitulo {
  background-image: linear-gradient(rgba(78, 78, 78, 0.412) 100%, rgba(78, 78, 78, 0.412) 100%), url(../assets/img/teatrocolon.jpg);
}

@media screen and (max-width: 768px) {
  /*Version mobil: resto de paginas*/
  .fondoActividadesTitulo {
    background-image: linear-gradient(rgba(78, 78, 78, 0.412) 100%, rgba(78, 78, 78, 0.412) 100%), url(../assets/img/teatrocolon.jpg);
  }
  .fondoActividadesTitulo .fuenteTitulo {
    font-size: 2.9rem;
  }
}
/*galeria*/
.fondoGaleriaTitulo {
  background-image: linear-gradient(rgba(78, 78, 78, 0.412) 100%, rgba(78, 78, 78, 0.412) 100%), url(../assets/img/FondoGaleriaTitulo.png);
}

@media screen and (max-width: 768px) {
  /*Version mobil: resto de paginas*/
  .fondoGaleriaTitulo {
    background-image: linear-gradient(rgba(78, 78, 78, 0.412) 100%, rgba(78, 78, 78, 0.412) 100%), url(../assets/img/bannerGaleriaMobil.png);
  }
  .fondoGaleriaTitulo .fuenteTitulo {
    font-size: 2.9rem;
  }
}
/*contacto*/
.fondoContactoTitulo {
  background-image: linear-gradient(rgba(78, 78, 78, 0.412) 100%, rgba(78, 78, 78, 0.412) 100%), url(../assets/img/fondoContactoTitulo.png);
}

@media screen and (max-width: 768px) {
  /*Version mobil: resto de paginas*/
  .fondoContactoTitulo {
    background-image: linear-gradient(rgba(78, 78, 78, 0.412) 100%, rgba(78, 78, 78, 0.412) 100%), url(../assets/img/bannerContactoMobil.png);
  }
  .fondoContactoTitulo .fuenteTitulo {
    font-size: 2.9rem;
  }
}
/*index*/
.headerIndex {
  padding: 1rem;
  width: 100%;
}

.colorFondoHeader {
  background-color: transparent;
}
.colorFondoHeader .logo {
  width: 27rem;
}
.colorFondoHeader .ColorNav {
  background: rgba(217, 217, 217, 0.51);
  border: 1px solid #FFFFFF;
  border-radius: 26.5px;
  width: 43rem;
  height: 4rem;
}

@media screen and (max-width: 768px) {
  .colorFondoHeader .logo {
    width: 20rem;
  }
  .colorFondoHeader .ColorNav {
    padding-left: 1rem;
    width: 11rem;
    height: 16rem;
  }
  .colorFondoHeader .ColorNav li a {
    justify-content: center;
  }
}
/*resto de paginas*/
.headerPaginas {
  background-color: #2F3437;
  padding: 1rem;
  width: 100%;
}
.headerPaginas .logo {
  width: 27rem;
}
.headerPaginas .ColorNav {
  background: rgba(217, 217, 217, 0.51);
  border: 1px solid #FFFFFF;
  border-radius: 26.5px;
  width: 43rem;
  height: 4rem;
}

@media screen and (max-width: 768px) {
  .headerPaginas .logo {
    width: 20rem;
  }
  .headerPaginas .ColorNav {
    padding-left: 1rem;
    width: 11rem;
    height: 16rem;
  }
}
/*Error 404*/
.headerPaginas404 {
  background: #0C0E10;
  padding: 1rem;
  width: 100%;
}
.headerPaginas404 .logo {
  width: 27rem;
}
.headerPaginas404 .ColorNav {
  background: rgba(217, 217, 217, 0.51);
  border: 1px solid #FFFFFF;
  border-radius: 26.5px;
  width: 43rem;
  height: 4rem;
}

@media screen and (max-width: 768px) {
  .headerPaginas404 .logo {
    width: 20rem;
  }
  .headerPaginas404 .ColorNav {
    padding-left: 1rem;
    width: 11rem;
    height: 16rem;
  }
  .headerPaginas404 .ColorNav li a {
    justify-content: center;
  }
}
body {
  background-color: white;
  margin: 0;
}

html {
  overflow-x: hidden;
}

/*index*/
.FondoMainInicio, .FondoMainGaleria, .FondoMainActividades, .FondoMainNosotros {
  width: 100%;
  background-image: url(../assets/img/FondoVacaInicio.png);
}
.FondoMainInicio .galeriaIndex, .FondoMainGaleria .galeriaIndex, .FondoMainActividades .galeriaIndex, .FondoMainNosotros .galeriaIndex {
  margin-top: 10rem;
}
.FondoMainInicio .galeriaIndex .seccionFotos, .FondoMainGaleria .galeriaIndex .seccionFotos, .FondoMainActividades .galeriaIndex .seccionFotos, .FondoMainNosotros .galeriaIndex .seccionFotos {
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .FondoMainInicio, .FondoMainGaleria, .FondoMainActividades, .FondoMainNosotros {
    width: 100%;
    background-image: url(../assets/img/FondoVacaInicio.png);
  }
  .FondoMainInicio .galeriaIndex, .FondoMainGaleria .galeriaIndex, .FondoMainActividades .galeriaIndex, .FondoMainNosotros .galeriaIndex {
    margin-top: 10rem;
  }
  .FondoMainInicio .galeriaIndex .seccionFotos, .FondoMainGaleria .galeriaIndex .seccionFotos, .FondoMainActividades .galeriaIndex .seccionFotos, .FondoMainNosotros .galeriaIndex .seccionFotos {
    margin-bottom: 50px;
    text-align: center;
  }
  .FondoMainInicio .galeriaIndex .seccionFotos .indexFotos, .FondoMainGaleria .galeriaIndex .seccionFotos .indexFotos, .FondoMainActividades .galeriaIndex .seccionFotos .indexFotos, .FondoMainNosotros .galeriaIndex .seccionFotos .indexFotos {
    height: 25rem;
    width: 25rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 768px) {
  /*Version mobil: main index*/
  .FondoMainInicio, .FondoMainGaleria, .FondoMainActividades, .FondoMainNosotros {
    background-size: contain;
    background-repeat: repeat;
    height: 100%;
  }
  .FondoMainInicio .galeriaIndex, .FondoMainGaleria .galeriaIndex, .FondoMainActividades .galeriaIndex, .FondoMainNosotros .galeriaIndex {
    margin-top: 2rem;
  }
  .FondoMainInicio .galeriaIndex .seccionFotos .indexFotos, .FondoMainGaleria .galeriaIndex .seccionFotos .indexFotos, .FondoMainActividades .galeriaIndex .seccionFotos .indexFotos, .FondoMainNosotros .galeriaIndex .seccionFotos .indexFotos {
    height: 30rem;
    width: 30rem;
  }
}
/*nosotros*/
.FondoMainNosotros {
  background-image: url(../assets/img/FondoVacaNosotros.png);
}
.FondoMainNosotros .TextoNosotros {
  margin-left: 8.5rem;
  margin-top: 5rem;
  width: 55vw;
}
.FondoMainNosotros .TextoNosotros h2 {
  color: #39B4E9;
}
.FondoMainNosotros .seccionFotos {
  margin-bottom: 50px;
  text-align: center;
}
.FondoMainNosotros .ImagenesNosotros {
  margin-top: 50px;
  margin-bottom: 20px;
}
.FondoMainNosotros .TextoNosotros2 {
  margin-left: 8.5rem;
  width: 85vw;
}

@media screen and (max-width: 1024px) {
  .FondoMainNosotros .TextoNosotros {
    margin-left: 5rem;
    margin-top: 5rem;
    width: 55vw;
  }
  .FondoMainNosotros .TextoNosotros h2 {
    color: #39B4E9;
  }
  .FondoMainNosotros .TextoNosotros p {
    font-size: 1.3rem;
  }
  .FondoMainNosotros .seccionFotos {
    margin-bottom: 50px;
    text-align: center;
  }
  .FondoMainNosotros .seccionFotos .indexFotos {
    height: 22rem;
    width: 22rem;
    padding: 1rem;
  }
  .FondoMainNosotros .ImagenesNosotros {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .FondoMainNosotros .TextoNosotros2 {
    margin-left: 5rem;
    width: 85vw;
  }
  .FondoMainNosotros .TextoNosotros2 p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 768px) {
  /*Version mobil: main nosotros*/
  .FondoMainNosotros {
    background-size: contain;
    background-repeat: repeat;
    height: 100%;
  }
  .FondoMainNosotros .TextoNosotros {
    margin-left: 1rem;
    width: 95%;
  }
  .FondoMainNosotros .seccionFotos {
    margin-bottom: 50px;
    text-align: center;
  }
  .FondoMainNosotros .seccionFotos .indexFotos {
    height: 30rem;
    width: 30rem;
  }
  .FondoMainNosotros .TextoNosotros2 {
    margin-left: 1rem;
  }
}
/*actividades*/
.FondoMainActividades {
  background-image: url(../assets/img/FondoVacaActividades.png);
}
.FondoMainActividades .boxMapa {
  height: 33vh;
}
.FondoMainActividades .boxMapa .mapaActividades {
  width: 100%;
  height: 98%;
}

@media screen and (max-width: 1024px) {
  .FondoMainActividades .mapaActividades {
    width: 25rem;
    height: 25rem;
  }
  .FondoMainActividades .card-body {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 768px) {
  /*Version mobil: main actividades*/
  .FondoMainActividades {
    background-size: contain;
    background-repeat: repeat;
    height: 100%;
  }
  .FondoMainActividades .mapaActividades {
    width: 100%;
  }
  .FondoMainActividades .mapaActividades .textoMobil {
    margin-left: -1rem;
    margin-bottom: 2rem;
  }
}
/*galeria*/
.FondoMainGaleria {
  background-image: url(../assets/img/FondoVacaGaleria.png);
}

@media screen and (max-width: 1024px) {
  .FondoMainGaleria .indexFotos {
    height: 25rem;
    width: 25rem;
    padding: 1rem;
  }
}
@media screen and (max-width: 768px) {
  /*Version mobil: main galeria*/
  .FondoMainGaleria .indexFotos {
    height: 30rem;
    width: 30rem;
  }
  .FondoMainGaleria .margenMobil {
    margin-bottom: 2rem;
  }
}
/*contacto*/
.FondoMainContacto {
  width: 100%;
  background-image: url(../assets/img/FondoVacaContacto.png);
  background-size: cover;
}
.FondoMainContacto .margenTextoContacto {
  margin-top: 10rem;
  margin-left: 14vw;
  margin-bottom: 2rem;
}
.FondoMainContacto .margenTextoContacto2 {
  margin-top: 6rem;
  margin-left: 14.5vw;
  margin-right: 20rem;
  margin-bottom: 10rem;
}
.FondoMainContacto .fotoContactoFormulario {
  width: 34vw;
}
.FondoMainContacto .cajonFormulario {
  box-sizing: border-box;
  position: absolute;
  width: 30rem;
  height: 4rem;
  background: #D9D9D9;
  border: 0.634812px solid #000000;
  border-radius: 17.1399px;
}
.FondoMainContacto .botonSubmit {
  position: absolute;
  width: 9rem;
  height: 4rem;
  background: #2F3437;
  border: 0.634812px solid #000000;
  border-radius: 13.1399px;
}
.FondoMainContacto .cajonCheck {
  margin-top: 3.6rem;
}
.FondoMainContacto .textoCheck {
  margin-top: 3rem;
}

@media screen and (max-width: 1024px) {
  .FondoMainContacto .margenTextoContacto {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
  }
  .FondoMainContacto .margenTextoContacto p {
    font-size: 1.5rem;
  }
  .FondoMainContacto .margenTextoContacto2 {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .FondoMainContacto .fotoContactoFormulario {
    width: 33rem;
  }
  .FondoMainContacto .cajonFormulario {
    box-sizing: border-box;
    position: absolute;
    width: 30rem;
    height: 4rem;
    background: #D9D9D9;
    border: 0.634812px solid #000000;
    border-radius: 17.1399px;
  }
  .FondoMainContacto .botonSubmit {
    position: absolute;
    width: 9rem;
    height: 4rem;
    background: #2F3437;
    border: 0.634812px solid #000000;
    border-radius: 13.1399px;
  }
  .FondoMainContacto .cajonCheck {
    margin-top: 3.6rem;
  }
  .FondoMainContacto .textoCheck {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 768px) {
  /*Version mobil: main contacto*/
  .FondoMainContacto .margenTextoContacto {
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .FondoMainContacto .margenTextoContacto2 {
    margin-top: 10rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .FondoMainContacto .fotoContactoFormulario {
    width: 100%;
    margin-bottom: 2rem;
  }
}
/*Error 404*/
.main404 {
  font-family: "Fira Sans", sans-serif;
  color: #f5f6fa;
}

.background {
  margin-top: 12vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#0C0E10, #446182);
}
.background .ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background: #0C0E10;
}

.container404 {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 81vh;
  margin-bottom: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-section {
  width: 40%;
  padding-top: 10rem;
}

.heading {
  text-align: center;
  font-size: 9em;
  line-height: 1.3em;
  margin: 2rem 0 0.5rem 15rem;
  padding: 0;
  text-shadow: 0 0 1rem #fefefe;
}

.subheading {
  text-align: center;
  max-width: 480px;
  font-size: 1.5em;
  line-height: 1.15em;
  margin-left: 15rem;
  padding: 0 1rem;
}

.boton {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding: 10px 35px;
  border-radius: 26.5px;
  text-decoration: none;
}

.boton2 {
  margin-top: 30px;
  margin-left: 27rem;
  border: 1px solid white;
}

.right-section {
  width: 50%;
  height: 90vh;
}
.right-section .svgimg {
  height: 100%;
  bottom: 0;
  padding-top: 10vh;
  padding-left: 1vh;
  max-width: 100%;
  max-height: 100%;
}
.right-section .svgimg .bench-legs {
  fill: black;
}
.right-section .svgimg .top-bench, .right-section .svgimg .bottom-bench {
  stroke: #0C0E10;
  stroke-width: 1px;
  fill: #5B3E2B;
}
.right-section .svgimg .bottom-bench path:nth-child(1) {
  fill: #432d20;
}
.right-section .svgimg .lamp-details {
  fill: #202425;
  margin-bottom: -10px;
}
.right-section .svgimg .lamp-accent {
  fill: #2c3133;
}
.right-section .svgimg .lamp-bottom {
  fill: linear-gradient(#202425, #0C0E10);
}
.right-section .svgimg .lamp-light {
  fill: #EFEFEF;
}

/*Version mobil: Error 404*/
@media screen and (max-width: 768px) {
  .main404 {
    height: 70vh;
    background: linear-gradient(#0C0E10, #446182);
  }
  .main404 .background {
    display: none;
  }
  .main404 .background .ground {
    display: none;
  }
  .left-section {
    width: 100%;
  }
  .heading {
    margin-left: 1rem;
  }
  .subheading {
    margin-left: 1rem;
  }
  .boton {
    margin-left: 8rem;
  }
  .boton2 {
    margin-top: 20px;
    text-align: center;
  }
  .right-section {
    display: none;
  }
}
footer {
  background-color: #2F3437;
  height: 10rem;
  width: 100%;
}
footer .Redes {
  text-align: center;
}

@media screen and (max-width: 768px) {
  footer .Redes {
    justify-content: center;
  }
}
/*Error 404*/
.footer404 {
  background: #0C0E10;
}

/*version mobil: Error 404*/
@media screen and (max-width: 768px) {
  .footer404 {
    padding-top: 7rem;
  }
}/*# sourceMappingURL=estilos.css.map */